@tailwind base;
@tailwind components;
@tailwind utilities;

body{
background-color: #F9F5E0
}
.primaryTextColor{
color: #0000;
}
.secondaryTextColor{
color: #6f6e6f;
}
.accentColor{
  color: #f0943f;
}
.hoverColor:hover{
  color: #f0943f;
}
.wrapper{
  padding: 10px;
}
h3{
  font-size: 1.125rem;
  font-weight: 600;
}
li{
  margin-left:8px ;
}